# Dependencies
node_modules/
venv/
env/
transactions.csv

# Build & Bundles
.expo/
dist/
expo_build.log

# Python cache
__pycache__/
*.pyc
*.pyo

# System & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

.env
.env.example

